nav {
  background-color: #0d101e;
  font-size: 18px;
}

.button:hover {
  background-color: #3fadff;
}

a {
  text-decoration: none;
}

.carousel-caption {
  margin-bottom: 190px;
}

main {
  text-align: center;
  margin: 20px 0;
  font-family: 'Calibri',Helvetica, sans-serif;
}



.row {
  width: 95%;
  margin-top: 20px;
}

.card {
  text-align:center;
  margin: 20px;
}

footer{
  background-color: #0d101e;
}

footer a,footer div,footer section,footer p {
  color: white;
}